# Module: SQLite3 Assignments
## Lesson: SQLite3

In [1]:
import sqlite3

### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [2]:
def create_db():
    connection = sqlite3.Connection('test.db')
    cursor = connection.cursor()


create_db()

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [3]:
def create_tables():
    connection = sqlite3.Connection('test.db')
    cursor = connection.cursor()
    
    cursor.execute('''
        Create Table If Not Exists employees(
                   id Integer Primary Key,
                   name Text Null Null,
                   age Integer,
                   department Text)
    ''')

    connection.commit()


create_tables()

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [4]:
def insert(name,age,department):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        Insert Into Employees(name,age,department)
                   values(?,?,?)
    ''',(name,age,department))

    conn.commit()



insert('Ali Sameed',22,'Director')

2. Insert at least 5 different employees into the `employees` table.

In [5]:
def insert_multiple(emp_data):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.executemany('''
        Insert Into Employees(name,age,department)
                   values(?,?,?)
    ''',emp_data)

    conn.commit()


emp_data = [
    ('Rohan',21,'IT'),
    ('Arsalan',24,'Web'),
    ('Taha',21,'IT'),
    ('Rahim',16,'Cyber'),
    ('Sehrish',20,'Nursing'),
]

insert_multiple(emp_data)

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [6]:
def fetch_all():
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('Select * from employees')
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    conn.close()


fetch_all()

(4, 'Taha', 21, 'IT')
(5, 'Rahim', 16, 'IT')
(7, 'Ali Sameed', 22, 'Director')
(8, 'Ali Sameed', 22, 'Director')
(9, 'Rohan', 21, 'IT')
(10, 'Arsalan', 24, 'Web')
(11, 'Taha', 21, 'IT')
(12, 'Rahim', 16, 'Cyber')
(13, 'Sehrish', 20, 'Nursing')

2. Write a Python function to fetch and display all employees from a specific department.

In [7]:
def fetch_specific(department):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        Select * from employees
        where department = ?
    ''',(department,))
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    conn.close()


fetch_specific('IT')

(4, 'Taha', 21, 'IT')
(5, 'Rahim', 16, 'IT')
(9, 'Rohan', 21, 'IT')
(11, 'Taha', 21, 'IT')

#### Learning

Good question! The comma (,) is required because in Python, a single value inside parentheses is not a tupleâ€”it's just the value itself inside parentheses.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [8]:
def update(department,id):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        Update employees
        set department = ?
        where id = ?
    ''',(department,id))
    conn.commit()
    conn.close()


update('IT',5)

2. Update the department of at least 2 employees and display the updated records.

In [15]:
update('Marketing',3)
update('IT',4)


fetch_all()

(4, 'Taha', 21, 'IT')
(5, 'Rahim', 16, 'IT')
(8, 'Ali Sameed', 22, 'Director')
(13, 'Sehrish', 20, 'Nursing')

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [10]:
def delete(id):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        Delete from employees
        where id = ?
    ''',(id,))
    conn.commit()
    conn.close()


delete(6)

2. Delete at least 1 employee and display the remaining records.

In [ ]:
delete(2)

fetch_all()

(4, 'Taha', 21, 'IT')
(5, 'Rahim', 16, 'IT')
(8, 'Ali Sameed', 22, 'Director')
(13, 'Sehrish', 20, 'Nursing')

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [17]:
def fetch_specific_age(age):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        Select * from employees
        where age > ?
    ''',(age,))
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    conn.close()


fetch_specific_age(19)

(4, 'Taha', 21, 'IT')
(8, 'Ali Sameed', 22, 'Director')
(13, 'Sehrish', 20, 'Nursing')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [18]:
def fetch_specific_age(letter):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()

    cursor.execute('''
        Select * from employees
        where name LIKE ?
    ''',(letter + '%',))
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    conn.close()


fetch_specific_age('A')

(8, 'Ali Sameed', 22, 'Director')

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [27]:
def insert_multiple_employee(data):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()
    try:    
        cursor.executemany('''
        Insert Into employees(id,name,age,department)
                        values(?,?,?,?)
        ''',data)
        conn.commit()
    except Exception as e:
        conn.rollback()
        print(e)
    finally:
        conn.close() 


employees = [
    (4, 'Frank', 40, 'Finance'),
    (5, 'Grace', 29, 'Engineering'),
    (6, 'Ivan', 38, 'Sales')
]

insert_multiple_employee(employees)

UNIQUE constraint failed: employees.id

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [31]:
def insert_multiple_employee_age(data):
    conn = sqlite3.Connection('test.db')
    cursor = conn.cursor()
    try:    
        cursor.executemany('''
        Update employees
        SET age = ?
        where id = ?         
        ''',data)
        conn.commit()
    except Exception as e:
        conn.rollback()
        print(e)
    finally:
        conn.close() 


employees = [
    (45,4),
    (30,5),
    (42,6)
]

insert_multiple_employee_age(employees)
fetch_all()

(4, 'Taha', 45, 'IT')
(5, 'Rahim', 30, 'IT')
(6, 'Frank', 42, 'Finance')
(7, 'Grace', 29, 'Engineering')
(8, 'Ali Sameed', 22, 'Director')
(9, 'Ivan', 38, 'Sales')
(13, 'Sehrish', 20, 'Nursing')

### Assignment 8: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [36]:
import shutil

def backup(old_db,back_db):
    shutil.copy(old_db,back_db)
    print("Database backed up successfully.")


backup('test.db','backup.db')

Database backed up successfully.

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [37]:
import shutil

def backup(old_db,back_db):
    shutil.copy(back_db,old_db)
    print("Database backed up successfully.")


backup('test.db','backup.db')

Database backed up successfully.