# Module 3: Data Structures Assignments
## Lesson 3.3: Sets


### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [1]:
postive_integer = {1,2,3,4,5,6,7,8,9,10}
print(postive_integer)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
postive_integer.add(11)
print(postive_integer)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
x = {1,2,3,4,5}
y = {2,4,6,8,10}

union_set = x.union(y)
print(union_set)

intersection_set = x.intersection(y)
print(intersection_set)

print(f"Diference: {x.difference(y)}")

print(f"Symmentic Difference: {x.symmetric_difference(y)}")

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
Diference: {1, 3, 5}
Symmentic Difference: {1, 3, 5, 6, 8, 10}


### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [5]:
squares = {item**2 for item in postive_integer}
print(squares)

{64, 1, 121, 4, 36, 100, 9, 16, 49, 81, 25}


### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [6]:
even = {item for item in postive_integer if item%2==0}
print(even)

{2, 4, 6, 8, 10}


### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [7]:
lst = [1, 2, 2, 3, 4, 4,5,6,7,8,9,9,10,11]

set1 = set(lst)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}


### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [9]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}

print(f"Is set2 is the subset of set1: {set2.issubset(set1)}")
print(f"Is set1 is the superset of set2: {set1.issuperset(set2)}")

Is set2 is the subset of set1: True
Is set1 is the superset of set2: True


### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [12]:
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})


### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [16]:
s = {1,2,3,4,5}
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}


### Assignment 10: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [17]:
x = {1,2,3,4,5}

for i in x:
    print(i)

1
2
3
4
5


### Assignment 11: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [19]:
x = {1, 2, 3, 4, 5}  # Starting set

while x:  # Keep looping as long as the set is not empty
    x.pop()  # Remove an element from the set
    print(x)  # Print the set after removal

print(f"Set x is empty: {x}")

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()
Set x is empty: set()


### Assignment 12: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [20]:
x = {1,2,3,4,5}
y = {2,4,6,8,10}

x.symmetric_difference_update(y)
print(x)

{1, 3, 5, 6, 8, 10}


### Assignment 13: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [21]:
x = {1,2,3,4,5}

print(4 in x)
print(18 in x)

True
False


### Assignment 14: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [23]:
set_tuple = {(1,2), (3,4), (5,6)}
print(set_tuple)

{(1, 2), (3, 4), (5, 6)}