# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
postive_integers = (1,2,3,4,5,6,7,8,9,10)
print(postive_integers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [4]:
first, *middle, last = postive_integers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10



### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
print(f"First Three: {postive_integers[:3]}")
print(f"Last Three: {postive_integers[7:]}")
print(f"From index 2 to 5: {postive_integers[2:5]}")

First Three: (1, 2, 3)
Last Three: (8, 9, 10)
From index 2 to 5: (3, 4, 5)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
matrix = ((1,2,3), (4,5,6), (7,8,9))
for sub_matrix in matrix:
    for item in sub_matrix:
        print(item, end=" ")
    print()    


print(f"Second Row and Third Column: {matrix[1][2]}")

1 2 3
4 5 6
7 8 9
Second Row and Third Column: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [23]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)

concatenate = tuple_1 + tuple_2
print(concatenate)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [26]:
dup = (1,2,3,4,4,4,5,6)
print(dup.count(4))
print(dup.index(4))

3
3


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
packed_tuple = 2212173, "Ali Sameed", "5C", "5th", 3.71
print(packed_tuple)

id, name, sec, sem, cgpa = packed_tuple

print()
print(id)
print(name)
print(sec)
print(sem)
print(cgpa)

(2212173, 'Ali Sameed', '5C', '5th', 3.71)

2212173
Ali Sameed
5C
5th
3.71


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [48]:
list1 = [1,2,3,4,5]
con_tuple = tuple(list1)
print(con_tuple)

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [27]:
tup = ((1,2,3), (4,5,6), (7,8,9))
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [51]:
char_tuple = ("A", "l", "i", " ", "S", "a", "m", "e", "e", "d")
result = "".join(char_tuple)
print(result)

Ali Sameed


### Assignment 12: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [53]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (6, 7, 8))

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
4 5 6
6 7 8